argon2-cffi==18.3.0
asn1crypto==0.24.0
beautifulsoup4==4.6.3
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
configparser==3.5.0
cryptography==2.3.1
entrypoints==0.2.3
enum34==1.1.6
html5lib==1.0.1
idna==2.7
ipaddress==1.0.22
keyring==15.1.0
keyrings.cryptfile==1.2.1
minervaclient==1.3.0
pycparser==2.19
pycryptodome==3.6.6
requests==2.19.1
SecretStorage==2.3.1
six==1.11.0
urllib3==1.23
webencodings==0.5.1
